


<section id="services" style="background-color: #00B3D4">
    <div class="container">
        <div class="page-section">
            <div class="row">
                <div class="col-lg-12 aligncenter">
                        <div class="col-lg-6" style="text-align:left;">
                            <h6>港医汇 - 开启您的香港医疗之旅</h6>
                            <h6>Start Your Medical Trip In Hong Kong</h6>
                        </div>
                        <div class="col-lg-6" >
                            <div class="col-md-2">
                                <h3><i class="glyphicon icon-mobile-phone" style="color:#fff"></i></h3>
                            </div>
                            <div class="col-md-2">
                                <h3><i class="glyphicon icon-map-marker" style="color:#fff"></i></h3>
                            </div>
                            <div class="col-md-2">
                                <h3><i class="glyphicon icon-comments" style="color:#fff"></i></h3>
                            </div>
                            <div class="col-md-2">
                                <h3><i class="glyphicon icon-phone" style="color:#fff"></i></h3>
                            </div>
                            <div class="col-md-2">
                                <h3><i class="glyphicon icon-envelope-alt" style="color:#fff"></i></h3>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>

		
	<script type="text/javascript">
	//<![CDATA[
		var browser			= navigator.userAgent;
		var browserRegex	= /(Android|BlackBerry|IEMobile|Nokia|iP(ad|hone|od)|Opera M(obi|ini))/;
		var isMobile		= false;
		if(browser.match(browserRegex)) {
			isMobile			= true;
			addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
			function hideURLbar(){
				window.scrollTo(0,1);
			}
		}
	//]]>
	</script>		
    <!-- Javascript================================================== -->
   
	<script src="{{$rootpath}}/themes/rinna/js/navigation/navbar.js"></script>

	<script src="{{$rootpath}}/themes/rinna/js/ticker.js"></script>


	<script src="{{$rootpath}}/themes/rinna/js/theme-option/jquery.cookie.js"></script>
	
	<script src="{{$rootpath}}/themes/rinna/js/custom.js"></script>


<script src="{{$rootpath}}/themes/rinna/js/parallax/jquery.inview.js"></script>
<script src="{{$rootpath}}/themes/rinna/js/parallax/nbw-parallax.js"></script>
	</body>
</html>