{{include file="$smarty_root/header.html" }}
<section class="parallax-bg1">
    <div class="page-spacer">
        <div class="container">
            <div class="row margintop150">
                <div class="col-lg-12 aligncenter">
                    <h3>开启您的香港医疗之旅</h3>
                    <h4>Start Your Medical Trip In Hong Kong</h4>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="services">
    <div class="container">
        <div class="page-section">
            <div class="row">
                <div class="col-lg-12 aligncenter">
                    <div class="col-lg-1">
                    </div>
                    <div class="col-lg-10">
                        <div class="col-lg-3">
                            <p><span style="font-size:36px">96</span> 名</p>
							<p>香港全科医生</p>
                        </div>
                        <div class="col-lg-3">
                            <p><span style="font-size:36px">67</span> 家</p>
                            <p>专科医院</p>
                        </div>
                        <div class="col-lg-3">
                            <p><span style="font-size:36px">24</span> 小时</p>
                            <p>在线医生</p>
                        </div>
                        <div class="col-lg-3">
                            <p><span style="font-size:36px">6</span> 种</p>
                            <p>疫苗预防接种</p>
                        </div>
                    </div>
                    <div class="col-lg-1">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="parallax-bg2">
    <div class="page-spacer">
        <div class="container">
            <div class="row margintop150">
                <div class="col-lg-12 aligncenter">
                    <h3>连接<span style="font-size:100px;">香港医生</span>的桥梁</h3>
                    <h4>A Bridge Connected to Hongkong Docotors</h4>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="services">
    <div class="container">
        <div class="page-section">
            <div class="row">
                <div class="col-lg-12 aligncenter">
                    <div class="col-lg-1">
                    </div>
                    <div class="col-lg-10">
                        <div class="col-lg-4">
                            <h4>更可靠</h4>
                        </div>
                        <div class="col-lg-4" style="border-left-width:3px;border-left-style:solid;border-right-width:3px;border-right-style:solid;">
                            <h4>近距离</h4>
                        </div>
                        <div class="col-lg-4">
                            <h4>多语言</h4>
                        </div>
                    </div>
                    <div class="col-lg-1">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="parallax-bg3">
    <div class="page-spacer">
        <div class="container">
            <div class="row margintop150">
                <div class="col-lg-12 aligncenter">
                    <h3>更可靠</h3>
                    <h4>More Reliability</h4>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="services">
    <div class="container">
        <div class="page-section">
            <div class="row">
                <div class="col-lg-12 aligncenter">
                    <div class="col-lg-2">
                    </div>
                    <div class="col-lg-8">
                        <div class="col-lg-6" style="text-align:right;">
                            <p>预约进口疫苗注射<br />
							保障您、家人和孩子的健康</p>
                        </div>
                        <div class="col-lg-6" style="text-align:left;">
                            <p>Appoint HK vaccination to<br /> 
							protect you and your family</p>
                        </div>
                    </div>
                    <div class="col-lg-2">
                    </div>
                </div>
                <div class="col-lg-12 aligncenter">
                    <div class="col-lg-2">
                    </div>
                    <div class="col-lg-8">
                        <div class="col-lg-6" style="text-align:right;">
                            <p>方便获取便宜、正规<br />
							的抗癌及治疗慢性病药品</p>
                        </div>
                        <div class="col-lg-6" style="text-align:left;">
                            <p>Easily access to cheap and legal<br />
							 pharmaceuticals for cancer and<br />
							 chronic disease</p>
                        </div>
                    </div>
                    <div class="col-lg-2">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="parallax-bg4">
    <div class="page-spacer">
        <div class="container">
            <div class="row margintop150">
                <div class="col-lg-12 aligncenter">
                    <h3>近距离</h3>
                    <h4>Short Distance</h4>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="services">
    <div class="container">
        <div class="page-section">
            <div class="row">
                <div class="col-lg-12 aligncenter">
                    <div class="col-lg-2">
                    </div>
                    <div class="col-lg-8">
                        <div class="col-lg-6" style="text-align:right;">
                            <p>与香港医生直接对话，<br />
							获取诊疗意见<br />
							及最新医学治疗科技</p>
                        </div>
                        <div class="col-lg-6" style="text-align:left;">
                            <p>Directly talk with HK docotors to<br /> 
								acquire dianostic suggestions<br />
								and the latest medical <br />
								treatment technology</p>
                        </div>
                    </div>
                    <div class="col-lg-2">
                    </div>
                </div>
                <div class="col-lg-12 aligncenter">
                    <div class="col-lg-2">
                    </div>
                    <div class="col-lg-8">
                        <div class="col-lg-6" style="text-align:right;">
                            <p>小病问全科<br />大病看专科</p>
                        </div>
                        <div class="col-lg-6" style="text-align:left;">
                            <p>Ask General Practitioner for minor,<br />
							Specialist for major</p>
                        </div>
                    </div>
                    <div class="col-lg-2">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="parallax-bg5">
    <div class="page-spacer">
        <div class="container">
            <div class="row margintop150">
                <div class="col-lg-12 aligncenter">
                    <h3>多语言</h3>
                    <h4>Multilingualism</h4>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="services">
    <div class="container">
        <div class="page-section">
            <div class="row">
                <div class="col-lg-12 aligncenter">
                    <div class="col-lg-1">
                    </div>
                    <div class="col-lg-10">
                        <div class="col-lg-4">
                            <img src="{{$rootpath}}/themes/images/madarin.png" />
                            <h4>普通话</h4>
							<h5>Mandarin</h5>
                        </div>
                        <div class="col-lg-4" >
                            <img src="{{$rootpath}}/themes/images/cantonese.png" />
                            <h4>粤语</h4>
							<h5>Cantonese</h5>
                        </div>
                        <div class="col-lg-4">
                            <img src="{{$rootpath}}/themes/images/english.png" />
                            <h4>英语</h4>
							<h5>English</h5>
                        </div>
                    </div>
                    <div class="col-lg-1">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="parallax-bg6">
    <div class="page-spacer">
        <div class="container">
            <div class="row margintop150">
                <div class="col-lg-12 aligncenter">
                    <h3>多种语言交流，随您喜欢</h3>
                    <h4>Choose different languages as you prefer</h4>
                </div>
            </div>
        </div>
    </div>
</section>
{{include file="$smarty_root/footer.html" }}


