
		<!-- Start navigation -->
		<section class="nav-container">	
			<div class="navbar-inner"  >
				<div class="container">
					<div class="row">
						<div class="span12">			
                <a href="#home" class="small-logo">
                  <img src="{{$rootpath}}/themes/images/logo.png" alt="" />
                </a>
							  <nav class="margintop35"> 
								  <ul>
									  <li><a href="#" >首页</a></li>	
									  <li><a href="#" >产品</a></li>	
									  <li><a href="#" >关于我们</a></li>	
									  <li><a href="#" >联系我们</a></li>		
								  </ul>
							  </nav>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End navigation -->