<?xml version="1.0" encoding="utf-8" ?>
<root>
  <mainmenus>
    <mainmenu>
      <module>admin</module>
      <name>系统</name>
      <name_zh-cn>系统</name_zh-cn>
      <name_zh-hk>系统</name_zh-hk>
      <name_en-us>System</name_en-us>
      <submenus>
        <submenu>
          <id>about</id>
          <name>关于</name>
          <name_zh-cn>关于</name_zh-cn>
          <name_zh-hk>关于</name_zh-hk>
          <name_en-us>About</name_en-us>
          <url>/Admin/about.php</url>
        </submenu>
        <submenu>
          <id>dashboard</id>
          <name>Dashboard</name>
          <name_zh-cn>Dashboard</name_zh-cn>
          <name_zh-hk>Dashboard</name_zh-hk>
          <name_en-us>Dashboard</name_en-us>
          <url>/Admin/dashboard.php</url>
        </submenu>
        <submenu>
          <id>quit</id>
          <name>退出</name>
          <name_zh-cn>退出</name_zh-cn>
          <name_zh-hk>退出</name_zh-hk>
          <name_en-us>Logout</name_en-us>
          <url>/logout.php</url>
        </submenu>
        <!--<submenu>
          <id>dashboard</id>
          <name>Dashboard</name>
          <url>/Admin/dashboard.php</url>
        </submenu>-->
      </submenus>
    </mainmenu>
    <mainmenu>
      <module>info</module>
      <name>资料管理</name>
      <name_zh-cn>资料管理</name_zh-cn>
      <name_zh-hk>资料管理</name_zh-hk>
      <name_en-us>Information</name_en-us>
      <submenus>
        <submenu>
          <id>doctor_add</id>
          <name>我的资料</name>
          <name_zh-cn>我的资料</name_zh-cn>
          <name_zh-hk>我的资料</name_zh-hk>
          <name_en-us>Profile</name_en-us>
          <url>/Info/doctor.php</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
        <submenu>
          <id>doctorvaccine_list</id>
          <name>疫苗列表</name>
          <name_zh-cn>疫苗列表</name_zh-cn>
          <name_zh-hk>疫苗列表</name_zh-hk>
          <name_en-us>Vaccine List</name_en-us>
          <url>/Info/doctorvaccine.php</url>
        </submenu>
        <submenu>
          <id>doctorvaccine_add</id>
          <name>疫苗新增</name>
          <name_zh-cn>疫苗新增</name_zh-cn>
          <name_zh-hk>疫苗新增</name_zh-hk>
          <name_en-us>Vaccine New</name_en-us>
          <url>/Info/doctorvaccine.php?action=add</url>
        </submenu>
        <submenu>
          <id>doctor_service</id>
          <name>我的服务</name>
          <name_zh-cn>我的服务</name_zh-cn>
          <name_zh-hk>我的服务</name_zh-hk>
          <name_en-us>My Service</name_en-us>
          <url>/Info/service.php</url>
        </submenu>
      </submenus>
    </mainmenu>
    <mainmenu>
      <module>appointment</module>
      <name>日常管理</name>
      <submenus>
        <submenu>
          <id>appointment_list</id>
          <name>预约列表</name>
          <name_zh-cn>预约列表</name_zh-cn>
          <name_zh-hk>预约列表</name_zh-hk>
          <name_en-us>Vaccine Appointment</name_en-us>
          <url>/Appointment/appointment.php</url>
        </submenu>
        <submenu>
          <id>vaccineapponitment</id>
          <name>疫苗预约验证</name>
          <name_zh-cn>疫苗预约验证</name_zh-cn>
          <name_zh-hk>疫苗预约验证</name_zh-hk>
          <name_en-us>Vaccine Appointment Validate</name_en-us>
          <url>/Appointment/qrcodereader.php</url>
        </submenu>
        <submenu>
          <id>doctorquery</id>
          <name>客户问题</name>
          <name_zh-cn>客户问题</name_zh-cn>
          <name_zh-hk>客户问题</name_zh-hk>
          <name_en-us>Client Question</name_en-us>
          <url>/Appointment/doctorquery.php</url>
        </submenu>
        <submenu>
          <id>batchvalidation</id>
          <name>批量验证</name>
          <name_zh-cn>批量验证</name_zh-cn>
          <name_zh-hk>批量验证</name_zh-hk>
          <name_en-us>Batch Validation</name_en-us>
          <url>/Appointment/batchvalidation.php</url>
        </submenu>
        <submenu>
          <id>geneappointment</id>
          <name>基因检测预约列表</name>
          <name_zh-cn>基因检测预约列表</name_zh-cn>
          <name_zh-hk>基因检测预约列表</name_zh-hk>
          <name_en-us>Gene Checking Booking List</name_en-us>
          <url>/Appointment/geneappointment.php</url>
        </submenu>
      </submenus>
    </mainmenu>
  </mainmenus>
</root>