{{include  file="$smarty_root/header.html" }}
<div role="main" class="ui-content" style="padding:0px;">
    <div class="col-xs-12">
        <h4>
            港医汇
        </h4>
    </div>
    <hr style="margin-bottom:0px;" />
    <div class="col-xs-12">
        {{$aboutus}}
    </div>
    <hr style="margin-bottom:0px;border:3px solid #ccc;" />
    <div class="col-xs-12">
        <h4>
            港医汇——理念
        </h4>
    </div>
    <hr style="margin-bottom:0px;" />
    <div class="col-xs-12">
        {{$faith}}
    </div>
    <hr style="margin-bottom:0px;border:3px solid #ccc;" />
    <div class="col-xs-12">
        <h4>
            港医汇——梦想
        </h4>
    </div>
    <hr style="margin-bottom:0px;" />
    <div class="col-xs-12">
        {{$dream}}
    </div>
</div>
{{include  file="$smarty_root/navbar.html" }}
{{include  file="$smarty_root/footer.html" }}