{{include  file="$smarty_root/header.html" }}
{{include  file="$smarty_root/bar.html" }}
<div role="main" class="ui-content" style="padding:0;">
    <div data-role="tabs" id="tabs">
        <div data-role="navbar">
            <ul>
                <li><a href="#one" data-ajax="false">one</a></li>
                <li><a href="#two" data-ajax="false">two</a></li>
                <li><a href="ajax-content-ignore.html" data-ajax="false">three</a></li>
            </ul>
        </div>
        <div id="one" class="ui-body-d ui-content">
            <h1>First tab contents</h1>
        </div>
        <div id="two">
            <ul data-role="listview" data-inset="true">
                <li><a href="#">Acura</a></li>
                <li><a href="#">Audi</a></li>
                <li><a href="#">BMW</a></li>
                <li><a href="#">Cadillac</a></li>
                <li><a href="#">Ferrari</a></li>
            </ul>
        </div>
    </div>
</div>
<script>
    function uploadSuccessCallBack(key, module,value) {
        updateField("photo", value);
    }
</script>
{{include  file="$smarty_root/member/member_common.html" }}
{{include  file="$smarty_root/navbar.html" }}
{{include  file="$smarty_root/footer.html" }}