{{include  file="$smarty_root/header.html" }}
<div role="main" class="ui-content" style="padding:0;">
    <div class="col-xs-12 text-center" id="st_2_1" style="padding-top:15px;">
        <div class="col-xs-12 text-center" id="st_2_1" style="border:thin solid #cccccc;border-radius:10px;-moz-border-radius: 10px;-webkit-border-radius: 10px">
            <div class="row bluefont" style="font-weight:bold; font-size:70%; background-color:#CCE9F5;border-top-left-radius:10px;-moz-border-top-left-radius: 10px;-webkit-border-top-left-radius: 10px;border-top-right-radius:10px;-moz-border-top-right-radius: 10px;-webkit-border-top-right-radius: 10px;">
                <div class="col-xs-8" style="padding-left:0px;padding-right:0px;padding-top:10px;padding-bottom:10px;" >
                    <div style="border-right:thin solid #42A4D3;">
                        <span class="xsmall">检查项目</span>
                        <br />
                        <span><strong>{{$info.gene_name}}</strong></span>
                    </div>
                </div>
                <div class="col-xs-4" style=" padding-left:0px;padding-right:0px;padding-top:10px;padding-bottom:10px;">
                    <div>
                        <span class="xsmall">付款状态</span>
                        <br />
                        {{if $info.payment=="N"}}
                        <span class="yellowfont"><strong>未付款</strong></span>
                        {{else}}
                        <span><strong>已付款</strong></span>
                        {{/if}}
                    </div>
                </div>
            </div>
            <div class="col-xs-12 text-center" style="margin-top:20px;margin-bottom:20px; border-bottom-left-radius:10px;-moz-border-bottom-left-radius: 10px;-webkit-border-bottom-left-radius: 10px;border-bottom-right-radius:10px;-moz-border-bottom-right-radius: 10px;-webkit-border-bottom-right-radius: 10px;">
                <h4 id="guidcode">{{$info.message}}</h4>
                <div  class="row"><div class="grayfont col-xs-12">订单详情</div></div>
                <hr style="margin:0px;" />
                <div style="padding-top:12px" class="row bsmall"><div class="col-xs-5 text-left">订单价格：</div><div class="col-xs-6 text-left"><strong>{{$info.price}}</strong> 元</div></div>
                <div style="padding-top:12px" class="row bsmall"><div class="col-xs-5 text-left">收件人姓名：</div><div class="col-xs-6 text-left">{{$info.name}}</div></div>
                <div style="padding-top:5px" class="row bsmall"><div class="col-xs-5 text-left">收件人电话：</div><div class="col-xs-6 text-left">{{$info.mobile}}</div></div>
                <div style="padding-top:5px" class="row bsmall"><div class="col-xs-5 text-left">收件人地址：</div><div class="col-xs-6 text-left">{{$info.address}}</div></div>
                <div style="padding-top:5px" class="row bsmall"><div class="col-xs-5 text-left">留言：</div><div class="col-xs-6 text-left">{{$info.remark}}</div></div>
                <div style="padding-top:5px" class="row bsmall"><div class="col-xs-5 text-left">物流状态：</div><div class="col-xs-6 text-left"> </div></div>
            </div>
        </div>
        {{if $info.status=='P' and $info.payment=="N" }}
        <div class="col-xs-12">
            <a href="{{$rootpath}}/payment/submit.php?act=gn&type=ALIPAY&id={{$info.id}}" data-role="button" style="color:snow; background-color:#ED7945;">立即付款</a>
        </div>
        {{/if}}
    </div>
</div>
<script>
    $(document).ready(function () {

        $(".callofficemap").click(function () {
            var office_id = $(this).attr("office_id");
            var url = "{{$rootpath}}/doctor/officemap.php?id=" + office_id;
            window.open(url);
        });
    });
</script>
{{include  file="$smarty_root/navbar.html" }}
{{include  file="$smarty_root/footer.html" }}