{{include  file="$smarty_root/header.html" }}
{{include  file="$smarty_root/bar.html" }}
<div role="main" class="ui-content" style="padding:0;">
    {{foreach from=$list item=rs}}
    <a href="{{$rootpath}}/doctor/detail.php?id={{$rs.doctor_id}}">
        <div class="col-xs-12" style="padding-top:15px;padding-bottom:15px;">
            <div class="col-xs-3 text-center" style="padding-left:0px;padding-right:0px;">
                <div class="col-xs-12" style="padding-left:0px;padding-right:0px;">
                    <img class="smallODdivImg" src="{{$uploadpath}}/doctor_photo/{{$rs.photo}}" />
                </div>
                <div class="col-xs-12  text-center" style="padding-left:0px;padding-right:0px;">
                    <span  looked="{{$info.looked}}" data-role="button" style="padding:3px;font-size:10px;border:1px solid #ccc"> <span class="yellowfont">已关注</span></span>
                </div>
            </div>
            <div class="col-xs-9" style="padding-left:0px;padding-right:0px;">
                <div class="col-xs-8" style="padding:0px;">
                    <div class="col-xs-6" style="padding-top:2px;">{{$rs.doctor_name}}</div>
                    <div class="col-xs-6 grayfont" style="font-size:80%;margin-top:6px;">{{if $rs.is_general=='Y'}}全科{{else}}{{$rs.specialist}}{{/if}}</div>
                </div>
                <div class="col-xs-4 text-right xsmall grayfont" style="padding-left:0px;margin-top:5px;padding-right:0px;">
                    综合评分：{{$rs.totle_score}}
                </div>
                <div class="col-xs-12 xsmall grayfont" style="min-height:45px;">
                    {{$rs.pro_title}}
                </div>
                <div class="col-xs-12 xsmall ">
                   {{$rs.advanced}}
                </div>
            </div>
        </div>
    </a>
    <hr style="margin-bottom:0px;" />
    {{/foreach}}
</div>
{{include  file="$smarty_root/navbar.html" }}
{{include  file="$smarty_root/footer.html" }}