<div class="row" style="background:url('{{$rootpath}}/themes/img/temp/member_bg.png') ;background-size: cover;">
    <div class="col-xs-12 text-center" style="padding-top:15px;">
        <h4 style="color:snow;">我的</h4>
    </div>
    <div class="col-xs-12 text-center">
        <img id="photo_d" class="upload_img ODdivImg" src="{{if $info.photo==" "}}{{$rootpath}}/themes/img/temp/member_1.png{{else}}{{$uploadpath}}/clientphoto/{{$info.photo}}{{/if}}" />
        <input id="photo" data-role="none" name="photo" onchange="upload('photo','clientphoto')" type="file" style="width:1px;height:1px;" />
        <input id="photo_v" type="hidden" value="{{$info.photo}}" />
    </div>
    <div class="col-xs-12 text-center" style="color:snow;padding-top:15px;">
        Hi {{$member.name}} !
    </div>
    <div class="col-xs-12" style="padding-bottom:10px;">
        <div class="col-xs-4">
            <a href="{{$rootpath}}/member/bookinglist.php" data-role="button" style="color:#8D8D8D;font-weight:lighter;padding:2px;"><img src="{{$rootpath}}/themes/img/temp/member_booking.png" style="width:18px;" /> 预约</a>
        </div>
        <div class="col-xs-4" id="myquerymenu">
            <a href="{{$rootpath}}/member/questionlist.php" data-role="button" style="color:#8D8D8D;font-weight:lighter;padding:2px;"><img src="{{$rootpath}}/themes/img/temp/member_question.png" style="width:18px;" /> 咨询</a>
        </div>
        <div class="col-xs-4">
            <a href="{{$rootpath}}/member/doctorlist.php" data-role="button" style="color:#8D8D8D;font-weight:lighter;padding:2px;"><img src="{{$rootpath}}/themes/img/temp/member_doctor.png" style="width:18px;" /> 关注</a>
        </div>
    </div>
</div>
<script>
    function uploadSuccessCallBack(key, module, value) {
        updateField("photo", value);
    }
</script>
<div id="querynotice" class="noticeO"></div>
<script>
    $(document).ready(function () {
        var json={
            "action": "hasreply"
        };
        $.post("{{$rootpath}}/member/action.php",json,function(data){
            if(data=="TRUE"){
                var Y = $('#myquerymenu').offset().top;
                var X = $('#myquerymenu').offset().left;
                var width = $('#myquerymenu').width();
                X = X + width ;
                $('#querynotice').css("top", Y+10);
                $('#querynotice').css("left", X+5);
            }
        });


    });
</script>