{{include  file="$smarty_root/header.html" }}
<div role="main" class="ui-content" style="padding:0;">
    {{include  file="$smarty_root/member/header.html" }}
    <div class="row">
        <div class="col-xs-12" style="padding-top:5px;padding-bottom:5px;border:thin solid  #eee;">
            <a href="{{$rootpath}}/member/info.php">
                <div class="col-xs-2" style="padding-top:10px;"><img class="img-responsive" src="{{$rootpath}}/themes/img/temp/m1.png" /></div>
                <div class="col-xs-8 lighter" style="padding-top:10px;padding-left:0px;">个人资料</div>
                <div class="col-xs-2" style="padding-top:3px;"><a class="ui-btn ui-shadow ui-corner-all ui-icon-carat-r ui-btn-icon-notext">Go</a></div>
            </a>
        </div>
        <!--
        <div class="col-xs-12" style="padding-top:15px;padding-bottom:15px;border:1px solid  #eee;">
            <a href="{{$rootpath}}/member/infomation.php">
                <div class="col-xs-2" style="padding-top:10px;"><img class="img-responsive" src="{{$rootpath}}/themes/img/temp/member_qii.png" /></div>
                <div class="col-xs-8" style="padding-top:10px;padding-left:0px;font-size:125%">消息中心</div>
                <div class="col-xs-2" style="padding-top:3px;"><a class="ui-btn ui-shadow ui-corner-all ui-icon-carat-r ui-btn-icon-notext">Go</a></div>
            </a>
        </div>
            -->
        <div class="col-xs-12" style="padding-top:5px;padding-bottom:5px;border:thin solid  #eee;">
            <a href="{{$rootpath}}/member/feedback.php">
                <div class="col-xs-2" style="padding-top:10px;"><img class="img-responsive" src="{{$rootpath}}/themes/img/temp/m2.png" /></div>
                <div class="col-xs-8 lighter" style="padding-top:10px;padding-left:0px;">意见反馈</div>
                <div class="col-xs-2" style="padding-top:3px;"><a class="ui-btn ui-shadow ui-corner-all ui-icon-carat-r ui-btn-icon-notext">Go</a></div>
            </a>
        </div>
        <div class="col-xs-12" style="padding-top:5px;padding-bottom:5px;border:thin solid  #eee;">
            <a href="{{$rootpath}}/member/aboutus.php">
                <div class="col-xs-2" style="padding-top:10px;"><img class="img-responsive" src="{{$rootpath}}/themes/img/temp/m3.png" /></div>
                <div class="col-xs-8 lighter" style="padding-top:10px;padding-left:0px;">关于我们</div>
                <div class="col-xs-2" style="padding-top:3px;"><a class="ui-btn ui-shadow ui-corner-all ui-icon-carat-r ui-btn-icon-notext">Go</a></div>
            </a>
        </div>
        <div class="col-xs-12" >
            <a href="{{$rootpath}}/member/logout.php" data-role="button">
              退出登录
            </a>
        </div>
    </div>
</div>
{{include  file="$smarty_root/member/member_common.html" }}
{{include  file="$smarty_root/navbar.html" }}
{{include  file="$smarty_root/footer.html" }}