{{include  file="$smarty_root/header.html" }}
{{include  file="$smarty_root/bar.html" }}
<div role="main" class="ui-content">
    <div class="col-xs-12 text-right" style="padding-top:10px;">
        <a href="{{$rootpath}}/member/reg.php" style="color:#42A4D3;font-weight:lighter;"><h4>快速注册</h4></a>
    </div>
    <div class="col-xs-12">
            <input type="tel" id="mobile_no" value="" style="border:1px solid #42A4D3" placeholder="手机号" />
    </div>
    <div class="col-xs-12">
        <input type="password" id="password" value="" style="border:1px solid #42A4D3" placeholder="密码" />
    </div>
    <div class="col-xs-12">
        <a href="#" data-role="button" style="background-color:#42A4D3;color:snow; font-weight:lighter;">登录</a>
    </div>
</div>
{{include  file="$smarty_root/footer.html" }}