
<script>
       
    function isDate(dateString) {
        if (dateString.trim() == "") return true;
        var r = dateString.match(/^(\d{1,4})(-|\/)(\d{1,2})\2(\d{1,2})$/);
        if (r == null) {
            PopupTips("请输入格式正确的日期\n\r日期格式：yyyy-mm-dd\n\r例    如：2008-08-08\n\r");
            return false;
        }
        var d = new Date(r[1], r[3] - 1, r[4]);
        var num = (d.getFullYear() == r[1] && (d.getMonth() + 1) == r[3] && d.getDate() == r[4]);
        if (num == 0) {
            PopupTips("请输入格式正确的日期\n\r日期格式：yyyy-mm-dd\n\r例    如：2008-08-08\n\r");
        }
        return (num != 0);
    }
    function updateField(field,value){
        var json={
            "action":"update_field",
            "field":field,
            "value":value
        }
        $.post("{{$rootpath}}/member/info_complete.php", json,function(data){
            if(data!="SUCCESS"){
                alert(data);   
            };
        });
    }
</script>