{{include  file="$smarty_root/header.html" }}
{{include  file="$smarty_root/bar.html" }}
<style>
    .smoothdialog{
    border: 0px solid #8D8D8D;
    -moz-border-radius: 5px;      /* Gecko browsers */
    -webkit-border-radius: 5px;   /* Webkit browsers */
    -ms-border-radius: 5px;   /* Webkit browsers */
    border-radius:5px;            /* W3C syntax */
        }
</style>
<div role="main" class="ui-content" style="padding:0;">
    <div class="col-xs-12 text-center xxsmall" style="padding-top:10px;">{{$info.submit_date}}</div>
    <div class="col-xs-2" style="padding-top:15px;">
        
    </div>
    <div class="col-xs-7 text-right " style="padding-top:15px;">
        <div class="bsmall smoothdialog" style="padding:10px;background-color:#42A4D3;color:snow;">{{$info.description}}</div>
    </div>
    <div class="col-xs-3" style="padding-top:15px;">
        <img class="smallODdivImg" src="{{$uploadpath}}/clientphoto/{{$memberinfo.photo}}" />
    </div>
    <div class="col-xs-3" style="padding-top:15px;">
        <img class="smallODdivImg" src="{{if $info.doctor_id==0}}{{$rootpath}}/themes/img/temp/kefu.jpg{{else}}{{$uploadpath}}/doctor_photo/{{$info.doctor_photo}}{{/if}}" />
    </div>
    <div class="col-xs-7 text-right " style="padding-top:15px;">
        <div class="bsmall smoothdialog" style="padding:10px;border:1px solid #42A4D3;">
        {{if $info.reply==""}}
            谢谢你的提问，我们已经收到，请耐心等待回复。
        {{else}}
            {{$info.reply}}
        {{/if}}
        </div>
    </div>
    <div class="col-xs-2" style="padding-top:15px;">

    </div>
</div>
{{include  file="$smarty_root/navbar.html" }}
{{include  file="$smarty_root/footer.html" }}