{{include  file="$smarty_root/header.html" }}
{{include  file="$smarty_root/bar.html" }}
<div role="main" class="ui-content" style="padding:0;">
    <div class="col-xs-12 text-center">
        <img src="{{$rootpath}}/img/logowithname.png">
    </div>
    <hr style="margin-bottom:0px;" />
    <div class="col-xs-12 xsmall lighter" style="padding-top:10px;">
        <div class="col-xs-3">1 输入手机号</div>
        <div class="col-xs-1">></div>
        <div class="col-xs-3">2 输入验证码</div>
        <div class="col-xs-1">></div>
        <div class="col-xs-3">3 设置密码</div>
        <div class="col-xs-1">></div>
    </div>
    <div id="step1" class="row">
        <div class="col-xs-12">
            <input type="tel" id="mobile_no" value="" style="border:1px solid #42A4D3" placeholder="手机号" />
        </div>
    </div>
    <div id="step2" class="row">
        <div class="col-xs-12">
            <input type="tel" id="mobile_no" value="" style="border:1px solid #42A4D3" placeholder="手机号" />
        </div>
    </div>
    <div id="step3" class="row">
        <div class="col-xs-12">
            <input type="tel" id="mobile_no" value="" style="border:1px solid #42A4D3" placeholder="手机号" />
        </div>
    </div>
</div>
{{include  file="$smarty_root/footer.html" }}