{{include  file="$smarty_root/header.html" }}

<script src="{{$rootpath}}/themes/mobile/js/vaccine_detail.js"></script>
    
<div id="home-slides">
    {{if $info.image_1!=""}}<img src="{{$uploadpath}}/vaccine/{{$info.image_1}}">{{/if}}   
    {{if $info.image_2!=""}}<img src="{{$uploadpath}}/vaccine/{{$info.image_2}}">{{/if}}    
    {{if $info.image_3!=""}}<img src="{{$uploadpath}}/vaccine/{{$info.image_3}}">{{/if}}    
    {{if $info.image_4!=""}}<img src="{{$uploadpath}}/vaccine/{{$info.image_4}}">{{/if}}
</div>

<div class="divCenter textContainer" style="">
    <div style="" class="divCenterTextContent">
        <span style="" class="divCenterTextContent_text1">参考价: </span>
        <span style="" class="divCenterTextContent_text2">{{$info.ref_price}}</span>
    </div>
    <div style="" class="divCenter divCenterTextContent">
        <span style="" class="divCenterTextContent_text1">标准价: {{$info.standard_price}}</span>
    </div>
    <div style="" class="divCenter divCenterTextContent">
        <button class="ui-btn ui-btn-inline " style="" id="freeBook" >
            <span style="">免费预约</span>
        </button>
    </div>
</div>

<div style="" class="introduceContent">
    <div style="text-align:left" class="introduceContentTitle">
        <b>{{$info.name}}</b>
    </div>
    <div style="" class="introduceContentDetial">
        <div style="" class="introduceContentDetialTitle">
            <img style="" src="{{$rootpath}}/themes/mobile/img/icons/vaccine_introduce.png" />
            <span style="">介绍</span>
        </div>
        <div style="" class="introduceContentDetialText">
            {{$info.summary}}
        </div>
    </div>
</div>

<div style="" class="introduceContent introduceContentBorder">
    <div class="introduceContentDetialTitle">
        <img src="{{$rootpath}}/themes/mobile/img/icons/vaccine_effect.png" />
        <span>功效</span>
    </div>
    <div class="introduceContentDetialText">
        <span>
            {{$info.effect}}
        </span>
    </div>
</div>

<div class="introduceContent introduceContentBorder">
    <div class="introduceContentDetialTitle">
        <img src="{{$rootpath}}/themes/mobile/img/icons/vaccine_people.png" />
        <span>适用人群</span>
    </div>
    <div class="introduceContentDetialText">
        <span>            
            {{$info.used_group}}
        </span>
    </div>
</div>


<div class="searchMore" onclick="displayDetails('vaccine_way');">
    <div class="searchMoreText1">
        <img class="searchMoreText1DetailsImg" src="{{$rootpath}}/themes/mobile/img/icons/vaccine_way.png" />
        <span style="" class="searchMoreText1DetailsSpan">接种方式</span>
    </div>
    <div class="searchMoreText2">
        <img style="" class="searchMoreText2DetailsImg" src="{{$rootpath}}/themes/mobile/img/icons/vaccine_display_arrow.png" />
    </div>
</div>
<div id="vaccine_way" style="" class="vaccubeWay">
    <div style="" class="vaccubeWayContent">
        <div style="" class="vaccubeWayContentText1">
            接种时间
        </div>
        <div style="" class="vaccubeWayContentText2">
            {{$info.injection_time}}
        </div>
    </div>
    <div style="" class="vaccubeWayContent">
        <div style="" class="vaccubeWayContentText1">
            接种季节
        </div>
        <div style="" class="vaccubeWayContentText2">            
            {{$info.injection_season}}
        </div>
    </div>
    <div style="" class="vaccubeWayContent">
        <div style="" class="vaccubeWayContentText1">
            接种次数
        </div>
        <div style="" class="vaccubeWayContentText2">           
             {{$info.injection_count}}
        </div>
    </div>
</div>

<div class="searchMore searchMoreMargin" onclick="displayDetails('vaccine_notice');" style="">
    <div class="searchMoreText1">
        <img class="searchMoreText1DetailsImg" src="{{$rootpath}}/themes/mobile/img/icons/vaccine_notice.png" />
        <span class="searchMoreText1DetailsSpan">注意事项</span>
    </div>
    <div class="searchMoreText2">
        <img class="searchMoreText2DetailsImg" src="{{$rootpath}}/themes/mobile/img/icons/vaccine_display_arrow.png" />
    </div>
</div>
<div id="vaccine_notice" style=" " class="vaccineNotice">
    {{$info.caution}}
    <br />
    <h3>可能产生的不良反应</h3>    
    {{$info.bad_effect}}
    <br />
    <h3>产生不良反应的解决方法</h3>
    {{$info.bad_effect_resolve}}
</div>
<script>
    $(document).ready(function () {
        $("#freeBook").click(function () {

            window.location.href = "{{$rootpath}}/doctor/vaccinedoctor.php?action=vaccine&id={{$info.id}}";

        });
    });
</script>
{{include  file="$smarty_root/footer.html" }}