
<thead>
    <tr>
        {{foreach from=$ModelData.fields.field item=rs}}
        {{if $rs.displayinlist=="1"}}
        <th>{{$rs.name}}</th>
        {{/if}}
        {{/foreach}}
    </tr>
</thead>
<tbody>
    {{foreach from=$result item=row}}
    <tr>
        {{foreach from=$row item=col key=key}}
            {{if $key!="id"}}
            {{foreach from=$ModelData.fields.field item=rs}}
                {{if $key==$rs.key && $rs.displayinlist=="1"}}
                    {{if $rs.gotodetail=="1"}}
                    <td class="result_{{$rs.key}}"><a href="{{$PageName}}?action=edit&id={{$row.id}}&parenturl={{$parenturl}}">{{$col}}</a></td>
                    {{else}}
                    <td class="result_{{$rs.key}}">{{$col}}</td>
                    {{/if}}
                {{/if}}
            {{/foreach}}
            {{/if}}
        {{/foreach}}
    </tr>
    {{/foreach}}
</tbody>