<div style="background-color: #44A5D3;" data-role="header" data-position="fixed" data-tap-toggle="false">
    <div class="row">
        <div class="col-xs-2" style="margin-top:5px;margin-left:5px;">
            <img src="{{$rootpath}}/img/logo_t.png" />
        </div>
        <div class="col-xs-8 text-center" style="padding:0px;">
            <h4 style="color:snow">
                {{if $Title==""}}
                港医汇
                {{else}}
                {{$Title}}
                {{/if}}
            </h4>
        </div>
        <div class="col-xs-2">
            
        </div>
    </div>
</div><!-- /header -->