
</div>

<div id="footer" data-role="footer" data-position="fixed" data-tap-toggle="false" data-theme="a">
    <div data-role="navbar">
        <ul>
            <li>
                <a href="#" data-icon="home">首页</a>
            </li>
            <li><a href="{{$rootpath}}/vaccine/" data-icon="heart">疫苗</a></li>
            <li><a href="#" data-icon="star">咨询</a></li>
            <li><a href="#" data-icon="user">会员</a></li>
        </ul>
    </div>
</div>

    </div>
</body>
</html> 