<style type="text/css">
    .ui-icon-myhome
{
    background: url('{{$rootpath}}/themes/img/icons/nav_home.png') no-repeat top !important;
}
    .ui-icon-myhome.iactive
{
    background: url('{{$rootpath}}/themes/img/icons/nav_home_active.png') no-repeat top !important;
}
    .ui-icon-myvaccine
{
    background: url('{{$rootpath}}/themes/img/icons/nav_vaccine.png') no-repeat top !important;
}
    .ui-icon-myvaccine.iactive
{
    background: url('{{$rootpath}}/themes/img/icons/nav_vaccine_active.png') no-repeat top !important;
}
    .ui-icon-mydoctor
{
    background: url('{{$rootpath}}/themes/img/icons/nav_gene.png') no-repeat top !important;
}
    .ui-icon-mydoctor.iactive
{
    background: url('{{$rootpath}}/themes/img/icons/nav_gene_active.png') no-repeat top !important;
}
    .ui-icon-mymember
{
    background: url('{{$rootpath}}/themes/img/icons/nav_member.png') no-repeat top !important;
}
    .ui-icon-mymember.iactive
{
    background: url('{{$rootpath}}/themes/img/icons/nav_member_active.png') no-repeat top !important;
}
</style>
<div data-role="footer" data-position="fixed" data-tap-toggle="false" style="border-top:thin solid #ccc;">
    <div data-role="navbar">
        <ul >
            <li><a href="{{$rootpath}}/index.php" {{if $navbarmodule=="index" }}class="iactive" style="color:#42A4D3;padding-top:40px;"{{else}}style="padding-top:40px;" {{/if}} data-icon="myhome">首页</a></li>
            <li><a  href="{{$rootpath}}/vaccine/index.php" {{if $navbarmodule=="vaccine" }}class="iactive" style="color:#42A4D3;padding-top:40px;"{{else}}style="padding-top:40px;" {{/if}} data-icon="myvaccine">服务预约</a></li>
            <li><a  href="{{$rootpath}}/gene/index.php" {{if $navbarmodule=="gene" }}class="iactive" style="color:#42A4D3;padding-top:40px;"{{else}}style="padding-top:40px;" {{/if}} data-icon="mydoctor">基因检测</a></li>
            <li><a href="{{$rootpath}}/member/index.php" {{if $navbarmodule=="member" }}class="iactive" style="color:#42A4D3;padding-top:40px;"{{else}}style="padding-top:40px;" {{/if}} data-icon="mymember">会员</a></li>
        </ul>
    </div><!-- /navbar -->
</div><!-- /footer -->