<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<link rel="shortcut icon" href="/Promotion/upload/fav/">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

	
	
</head>
<body style="border:0px;margin:0px;">
    <center>
        <img src="{{$rootpath}}\themes\img\temp\pc.jpg" width="800" usemap="#newbook" />
        <map name="newbook">
            <area shape="rect" coords="425,3090,550,3130" href="Mailto:admin@imedlinks.com" target="_blank">
        </map>
    </center>
</body>
</html>