
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>骨水泥专家</title>
    <meta name="description" content="骨水泥,Heraeus,MAST,手术膜" />
    <meta name="keywords" content="骨水泥,Heraeus,MAST,手术膜" />
    <link rel="shortcut icon" href="http://www.gushuini.com/upload/fav/1409191804914090721009favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- styles -->
    <link href="http://www.gushuini.com/themes/lm/rinna/css/bootstrap.css" rel="stylesheet">
    <link href="http://www.gushuini.com/themes/lm/rinna/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="http://www.gushuini.com/themes/lm/rinna/css/overwrite.css" rel="stylesheet">
    <link href="http://www.gushuini.com/themes/lm/rinna/font/stylesheet.css" rel="stylesheet">
    <link href="http://www.gushuini.com/themes/lm/rinna/css/flexslider.css" rel="stylesheet">
    <link href="http://www.gushuini.com/themes/lm/rinna/css/prettyPhoto.css" rel="stylesheet">
    <link href="http://www.gushuini.com/themes/lm/rinna/css/style.css" rel="stylesheet">

    <!-- skin color -->
    <link id="css-skin" href="http://www.gushuini.com/themes/lm/rinna/color/steel-blue.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://www.gushuini.com/themes/lm/rinna/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://www.gushuini.com/themes/lm/rinna/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://www.gushuini.com/themes/lm/rinna/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="http://www.gushuini.com/themes/lm/rinna/ico/apple-touch-icon-57-precomposed.png">

    <script  src="http://www.gushuini.com/themes/lm/rinna/js/jquery.js"></script>
    <script  src="http://www.gushuini.com/themes/lm/rinna/js/jquery.easing.1.3.js"></script>
    <script  src="http://www.gushuini.com/themes/lm/rinna/js/bootstrap.js"></script>

    <script  src="http://www.gushuini.com/themes/lm/rinna/js/navigation/jquery.scrollTo-1.4.2-min.js"></script>
    <script  src="http://www.gushuini.com/themes/lm/rinna/js/navigation/jquery.smooth-scroll.js"></script>
    <script  src="http://www.gushuini.com/themes/lm/rinna/js/navigation/waypoints.min.js"></script>



</head>


<body>



    <!-- Start navigation -->
    <section class="nav-container">
        <div class="navbar-inner" style='background: url(http://www.gushuini.com/themes/lm/images/ban.png) center no-repeat;background-size:cover;'>
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <a href="http://www.gushuini.com/index.php" class="small-logo">
                            <img style='margin-top:-30px' src="http://www.gushuini.com/themes/lm/images/h_logo.png" alt="" />
                            <div style='color:white;font-size:20px;font-weight:bold;margin-left:50px;margin-top:-10px'>贺利氏骨水泥</div>
                        </a>
                        <nav>
                            <ul>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle " data-toggle="dropdown">关于我们 <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="http://www.gushuini.com/aboutus/index.php">公司简介</a></li>
                                        <li><a href="http://www.gushuini.com/aboutus/contactus.php">联系我们</a></li>
                                        <li><a href="http://www.gushuini.com/aboutus/joinus.php">加入我们</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle active" data-toggle="dropdown">MAST<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="http://www.gushuini.com/product/detail.php?id=1">聚乳酸手术保护膜</a></li>

                                    </ul>
                                </li>

                                <li><a href="http://www.gushuini.com/download/index.php">下载</a></li>
                                <li><a href="http://www.gushuini.com/news/index.php">新闻中心</a></li>
                                <li><a href="http://www.gushuini.com/partner/index.php">合作伙伴</a></li>
                                <li><a href="#">进入论坛</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End navigation -->
    <!-- Start page head -->
    <section class="page-head contain-head">
        <div class="container">

            <div class="row">
                <div class="span9 head-text">
                    <h3 style='font-size:40px;'>PALAMIX骨水泥真空混合系统</h3>
                    <p style='font-size:24px;'>
                        完美组合，通过连贯的系统实现协同。
                    </p>
                </div>
                <div class="span3">
                    <img src='http://www.gushuini.com/upload/product/14102919043SurgiWrap.png' />
                </div>
            </div>
        </div>
    </section>
    <!-- End page head -->
    <section class="page-contain">
        <div class="container">
            <div class="row">
                <h4>产品介绍</h4>
                <div class="span12">
                    <div>
                        <p>PALAMIX真空混合系统是PALACOS骨水泥具备卓越操作性能的秘诀，可提供均匀的水泥混合物。标准化混合过程可生产均匀的混合物，而产生设计可实现水泥的最佳使用。PALAMIX易于使用，有助于外科手术的顺利完成。</p>
                        <p>在现代化骨水泥技术中，不同元素的组合对长期的手术结合至关重要。如今，“先进水平”不仅指选择具备合适的粘度和成分的骨水泥，还包括可生产均匀、标准化混合物的真空混合系统，使用脉冲冲洗系统清洁骨床及加压器的应用。</p>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <h4>特性和优点</h4>
                <div class="span6">
                    <ul>
                        <li>
                            <h5>脉冲冲洗系统</h5>
                            <p>除真空混合及加压外，使用脉冲冲洗系统清洁骨床也是现代化骨水泥胶合技术中的一个重要方面。研究数据（4）显示，翻修率大大降低。通过脉冲冲洗系统可有效清洁骨床，为手术部位做好最佳准备，以便于灌注水泥。</p>
                        </li>
                        <li>
                            <h5>产品范围广泛</h5>
                            <p>无论是全骨水泥式混合式植入物，大关节或小关节，PALAMIX针对每一适应症提供不同尺寸的套筒准备，以便于灌注水泥。</p>
                        </li>
                        <li>
                            <h5>骨水泥残留量低</h5>
                            <p>使用PALAMIX 80的套筒混合2包40g的PALACOS骨水泥，最终92.5%的骨水泥都能够使用。</p>
                        </li>
                    </ul>
                </div>
                <div class="span6">
                    <img style="width:508px" src="p1.png" />
                </div>
            </div>
            <hr />
            <div class="row">
                <h4>规格尺寸 </h4>
                <div class="span12">
                    <table >
                        <tr style="background-color:#4682B4;color:white;">
                            <td width="20px" > </td>
                            <td width="300px" >产品</td>
                            <td style="border:1px" width="400px">描述</td>
                            <td style="border:1px" width="400px">内容物</td>
                        </tr>
                        <tr >
                            <td></td>
                            <td>PALAMIX uno 1 x 40</td>
                            <td rowspan="3">真空混合系统</td>
                            <td>10</td>
                        </tr>
                        <tr valign="top">
                            <td></td>
                            <td>PALAMIX uno 1 x 80</td>
                            <td>10</td>
                        </tr>
                        <tr valign="top">
                            <td></td>
                            <td>PALAMIX uno 1 x 120</td>
                            <td>10</td>
                        </tr>
                        <tr style="background-color:#cccccc">
                            <td></td>
                            <td>PALAMIX duo 2 x 40</td>
                            <td rowspan="2">两件装真空混合系统</td>
                            <td>10</td>
                        </tr>
                        <tr style="background-color:#cccccc" valign="top">
                            <td></td>
                            <td>PALAMIX duo 2 x 80</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>PALAMIX duo hip 1 x 40/1 x 80</td>
                            <td >两件装髋关节真空混合系统</td>
                            <td>10</td>
                        </tr>
                        <tr style="background-color:#cccccc">
                            <td></td>
                            <td rowspan="4">附件</td>
                            <td>PALAMIX水泥喷枪</td>
                            <td>1</td>
                        </tr>
                        <tr style="background-color:#cccccc" valign="top">
                            <td></td>
                            <td>PALAMIX真空泵</td>
                            <td>1</td>
                        </tr>
                        <tr style="background-color:#cccccc" valign="top">
                            <td></td>
                            <td>PALAMIX中等喷嘴</td>
                            <td>10</td>
                        </tr>
                        <tr style="background-color:#cccccc" valign="top">
                            <td></td>
                            <td>PALAMIX细长喷嘴</td>
                            <td>10</td>
                        </tr>
                    </table><br />
                </div>
                
                <div class="row">
                    <div class="span3">
                        <img  src="p2.png" />
                    </div>
                    <div class="span3">
                        <img src="p3.png" />
                    </div>
                    <div class="span3">
                        <img src="p4.png" />
                    </div>
                    <div class="span3">
                        <img src="p5.png" />
                    </div>
                </div>
            </div>
            <br />
            <hr />
            <div class="row">
                <h4>实物图</h4>
                <div class="span12">
                    <img src="p6.png" />
                </div>
            </div>
       </div>
    </section>

    ﻿



    <div class="clearfix"></div>

    <!-- Start footer -->
    <footer>
        <div class="container">

        </div>
        <div class="clearfix"></div>
        <div class="subfooter">
            <div class="container">
                <div class="row">
                    <div class="span12" style='text-align:right;'>
                        <span class="copyright">
                            <img  src="http://www.gushuini.com/themes/lm/images/lmlogo.jpg" alt="" />
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End contain -->

    <script type="text/javascript">
	//<![CDATA[
		var browser			= navigator.userAgent;
		var browserRegex	= /(Android|BlackBerry|IEMobile|Nokia|iP(ad|hone|od)|Opera M(obi|ini))/;
		var isMobile		= false;
		if(browser.match(browserRegex)) {
			isMobile			= true;
			addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
			function hideURLbar(){
				window.scrollTo(0,1);
			}
		}
	//]]>
    </script>
    <!-- Javascript================================================== -->

    <script  src="http://www.gushuini.com/themes/lm/rinna/js/navigation/navbar.js"></script>

    <script  src="http://www.gushuini.com/themes/lm/rinna/js/ticker.js"></script>


    <script  src="http://www.gushuini.com/themes/lm/rinna/js/theme-option/jquery.cookie.js"></script>

    <script  src="http://www.gushuini.com/themes/lm/rinna/js/validation.js"></script>
    <script  src="http://www.gushuini.com/themes/lm/rinna/js/custom.js"></script>
</body>
</html>