<?xml version="1.0" encoding="utf-8" ?>
<root>
  <mainmenus>
    <mainmenu>
      <module>admin</module>
      <name>系统管理</name>
      <submenus>
        <submenu>
          <id>about</id>
          <name>关于</name>
          <url>/Admin/about.php</url>
        </submenu>
        <!--<submenu>
          <id>dashboard</id>
          <name>Dashboard</name>
          <url>/Admin/dashboard.php</url>
        </submenu>-->
        <submenu>
          <id>user_list</id>
          <name>用户列表</name>
          <url>/Admin/user.php</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
        <submenu>
          <id>user_add</id>
          <name>用户新增</name>
          <url>/Admin/user.php?action=add</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
        <submenu>
          <id>doctoraccount_list</id>
          <name>医生账号列表</name>
          <url>/Admin/doctoraccount.php</url>
        </submenu>
        <submenu>
          <id>doctoraccount_add</id>
          <name>医生账号新增</name>
          <url>/Admin/doctoraccount.php?action=add</url>
        </submenu>
      </submenus>
    </mainmenu>
    <!--<mainmenu>
      <module>website</module>
      <name>日常管理</name>
      <submenus>
        <submenu>
          <id>base</id>
          <name>网站设置</name>
          <url>/Website/base.php</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
        <submenu>
          <id>banner_list</id>
          <name>首页广告列表</name>
          <url>/Website/banner.php</url>
        </submenu>
        <submenu>
          <id>banner_add</id>
          <name>首页广告新增</name>
          <url>/Website/banner.php?action=add</url>
        </submenu>
        <submenu>
          <id>general_list</id>
          <name>页面文字列表</name>
          <url>/Website/general.php</url>
        </submenu>
        <submenu>
          <id>general_add</id>
          <name>页面文字新增</name>
          <url>/Website/general.php?action=add</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
      </submenus>
    </mainmenu>
    <mainmenu>
      <module>content</module>
      <name>内容管理</name>
      <submenus>
        <submenu>
          <id>downloadcate_list</id>
          <name>下载分类列表</name>
          <url>/Content/downloadcategory.php</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
        <submenu>
          <id>downloadcate_add</id>
          <name>下载分类新增</name>
          <url>/Content/downloadcategory.php?action=add</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
        <submenu>
          <id>download_list</id>
          <name>下载列表</name>
          <url>/Content/download.php</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
        <submenu>
          <id>download_add</id>
          <name>下载新增</name>
          <url>/Content/download.php?action=add</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
        <submenu>
          <id>news_list</id>
          <name>新闻列表</name>
          <url>/Content/news.php</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
        <submenu>
          <id>news_add</id>
          <name>新闻新增</name>
          <url>/Content/news.php?action=add</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
        <submenu>
          <id>productcate_list</id>
          <name>产品分类列表</name>
          <url>/Content/productcategory.php</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
        <submenu>
          <id>productcate_add</id>
          <name>产品分类新增</name>
          <url>/Content/productcategory.php?action=add</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
        <submenu>
          <id>product_list</id>
          <name>产品列表</name>
          <url>/Content/product.php</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
        <submenu>
          <id>product_add</id>
          <name>产品新增</name>
          <url>/Content/product.php?action=add</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
        <submenu>
          <id>testcate_list</id>
          <name>Test Category List</name>
          <url>/Example/testcat.php</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
        <submenu>
          <id>testcate_add</id>
          <name>Test Category List</name>
          <url>/Example/testcat.php?action=add</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
        <submenu>
          <id>test_list</id>
          <name>Test List</name>
          <url>/Example/test.php</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
        <submenu>
          <id>test_add</id>
          <name>Test Add</name>
          <url>/Example/test.php?action=add</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
      </submenus>
    </mainmenu>
    -->
    <mainmenu>
      <module>baseinfo</module>
      <name>基础数据管理</name>
      <submenus>
        <submenu>
          <id>effect_list</id>
          <name>效果与服务列表</name>
          <url>/BaseInfo/effect.php</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
        <submenu>
          <id>effect_add</id>
          <name>效果与服务新增</name>
          <url>/BaseInfo/effect.php?action=add</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
        <submenu>
          <id>usedgroup_list</id>
          <name>适用人群列表</name>
          <url>/BaseInfo/usedgroup.php</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
        <submenu>
          <id>usedgroup_add</id>
          <name>适用人群新增</name>
          <url>/BaseInfo/usedgroup.php?action=add</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
        <submenu>
          <id>vaccine_list</id>
          <name>疫苗列表</name>
          <url>/BaseInfo/vaccine.php</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
        <submenu>
          <id>vaccine_add</id>
          <name>疫苗新增</name>
          <url>/BaseInfo/vaccine.php?action=add</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
      </submenus>
    </mainmenu>
    <mainmenu>
      <module>doctor</module>
      <name>医生管理</name>
      <submenus>
        <submenu>
          <id>hospital_list</id>
          <name>医院列表</name>
          <url>/Doctor/hospital.php</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
        <submenu>
          <id>hospital_add</id>
          <name>医院新增</name>
          <url>/Doctor/hospital.php?action=add</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
        <submenu>
          <id>doctor_list</id>
          <name>医生列表</name>
          <url>/Doctor/doctor.php</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
        <submenu>
          <id>doctor_add</id>
          <name>医生新增</name>
          <url>/Doctor/doctor.php?action=add</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
        <submenu>
          <id>doctorvaccine_list</id>
          <name>医生疫苗列表</name>
          <url>/Doctor/doctorvaccine.php</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
        <submenu>
          <id>doctorvaccine_add</id>
          <name>医生疫苗新增</name>
          <url>/Doctor/doctorvaccine.php?action=add</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
      </submenus>
    </mainmenu>
  </mainmenus>
</root>