<?xml version="1.0" encoding="utf-8" ?>
<root>
  <mainmenus>
    <mainmenu>
      <module>admin</module>
      <name>系统管理</name>
      <submenus>
        <submenu>
          <id>about</id>
          <name>关于</name>
          <url>/Admin/about.php</url>
        </submenu>
        <!--<submenu>
          <id>dashboard</id>
          <name>Dashboard</name>
          <url>/Admin/dashboard.php</url>
        </submenu>-->
        <submenu>
          <id>user_list</id>
          <name>用户列表</name>
          <url>/Admin/user.php</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
        <submenu>
          <id>user_add</id>
          <name>用户新增</name>
          <url>/Admin/user.php?action=add</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
      </submenus>
    </mainmenu>
    <mainmenu>
      <module>website</module>
      <name>日常管理</name>
      <submenus>
        <submenu>
          <id>base</id>
          <name>网站设置</name>
          <url>/Website/base.php</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
        <submenu>
          <id>banner_list</id>
          <name>首页广告列表</name>
          <url>/Website/banner.php</url>
        </submenu>
        <submenu>
          <id>banner_add</id>
          <name>首页广告新增</name>
          <url>/Website/banner.php?action=add</url>
        </submenu>
        <submenu>
          <id>general_list</id>
          <name>页面文字列表</name>
          <url>/Website/general.php</url>
        </submenu>
        <submenu>
          <id>general_add</id>
          <name>页面文字新增</name>
          <url>/Website/general.php?action=add</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
      </submenus>
    </mainmenu>
    <mainmenu>
      <module>content</module>
      <name>内容管理</name>
      <submenus>
        <submenu>
          <id>downloadcate_list</id>
          <name>下载分类列表</name>
          <url>/Content/downloadcategory.php</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
        <submenu>
          <id>downloadcate_add</id>
          <name>下载分类新增</name>
          <url>/Content/downloadcategory.php?action=add</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
        <submenu>
          <id>download_list</id>
          <name>下载列表</name>
          <url>/Content/download.php</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
        <submenu>
          <id>download_add</id>
          <name>下载新增</name>
          <url>/Content/download.php?action=add</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
        <submenu>
          <id>news_list</id>
          <name>新闻列表</name>
          <url>/Content/news.php</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
        <submenu>
          <id>news_add</id>
          <name>新闻新增</name>
          <url>/Content/news.php?action=add</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
        <submenu>
          <id>productcate_list</id>
          <name>产品分类列表</name>
          <url>/Content/productcategory.php</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
        <submenu>
          <id>productcate_add</id>
          <name>产品分类新增</name>
          <url>/Content/productcategory.php?action=add</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
        <submenu>
          <id>product_list</id>
          <name>产品列表</name>
          <url>/Content/product.php</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
        <submenu>
          <id>product_add</id>
          <name>产品新增</name>
          <url>/Content/product.php?action=add</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
      </submenus>
    </mainmenu>
  </mainmenus>
</root>