<?xml version="1.0" encoding="utf-8" ?>
<root>
  <mainmenus>
    <mainmenu>
      <module>admin</module>
      <name>系统管理</name>
      <submenus>
        <submenu>
          <id>about</id>
          <name>关于</name>
          <url>/Admin/about.php</url>
        </submenu>
        <submenu>
          <id>dashboard</id>
          <name>Dashboard</name>
          <url>/Admin/dashboard.php</url>
        </submenu>
        <submenu>
          <id>user_list</id>
          <name>用户列表</name>
          <url>/Admin/user.php</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
        <submenu>
          <id>user_add</id>
          <name>用户新增</name>
          <url>/Admin/user.php?action=add</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
        <submenu>
          <id>doctoraccount_list</id>
          <name>医生账号列表</name>
          <url>/Admin/doctoraccount.php</url>
        </submenu>
        <submenu>
          <id>doctoraccount_add</id>
          <name>医生账号新增</name>
          <url>/Admin/doctoraccount.php?action=add</url>
        </submenu>
      </submenus>
    </mainmenu>
    <mainmenu>
      <module>baseinfo</module>
      <name>基础数据管理</name>
      <submenus>
        <submenu>
          <id>effect_list</id>
          <name>效果与服务列表</name>
          <url>/BaseInfo/effect.php</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
        <submenu>
          <id>effect_add</id>
          <name>效果与服务新增</name>
          <url>/BaseInfo/effect.php?action=add</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
        <submenu>
          <id>usedgroup_list</id>
          <name>适用人群列表</name>
          <url>/BaseInfo/usedgroup.php</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
        <submenu>
          <id>usedgroup_add</id>
          <name>适用人群新增</name>
          <url>/BaseInfo/usedgroup.php?action=add</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
        <submenu>
          <id>vaccine_list</id>
          <name>疫苗列表</name>
          <url>/BaseInfo/vaccine.php</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
        <submenu>
          <id>vaccine_add</id>
          <name>疫苗新增</name>
          <url>/BaseInfo/vaccine.php?action=add</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
      </submenus>
    </mainmenu>
    <mainmenu>
      <module>doctor</module>
      <name>医生管理</name>
      <submenus>
        <submenu>
          <id>hospital_list</id>
          <name>医院列表</name>
          <url>/Doctor/hospital.php</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
        <submenu>
          <id>hospital_add</id>
          <name>医院新增</name>
          <url>/Doctor/hospital.php?action=add</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
        <submenu>
          <id>office_list</id>
          <name>诊所列表</name>
          <url>/Doctor/office.php</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
        <submenu>
          <id>office_add</id>
          <name>诊所新增</name>
          <url>/Doctor/office.php?action=add</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
        <submenu>
          <id>doctor_list</id>
          <name>医生列表</name>
          <url>/Doctor/doctor.php</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
        <submenu>
          <id>doctor_add</id>
          <name>医生新增</name>
          <url>/Doctor/doctor.php?action=add</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
        <submenu>
          <id>doctorvaccine_list</id>
          <name>医生疫苗列表</name>
          <url>/Doctor/doctorvaccine.php</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
        <submenu>
          <id>doctorvaccine_add</id>
          <name>医生疫苗新增</name>
          <url>/Doctor/doctorvaccine.php?action=add</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
        <submenu>
          <id>officeopenhour_list</id>
          <name>诊所开放时间列表</name>
          <url>/Doctor/officeopenhour.php</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
        <submenu>
          <id>officeopenhour_add</id>
          <name>诊所开放时间新增</name>
          <url>/Doctor/officeopenhour.php?action=add</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
      </submenus>
    </mainmenu>
    <mainmenu>
      <module>appointment</module>
      <name>预约</name>
      <submenus>
        <submenu>
          <id>appointment_list</id>
          <name>预约列表</name>
          <url>/Appointment/appointment.php</url>
        </submenu>
        <submenu>
          <id>#</id>
          <name>Coming Soon</name>
          <url>#</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
      </submenus>
    </mainmenu>
    <mainmenu>
      <module>other</module>
      <name>其它</name>
      <submenus>
        <submenu>
          <id>requirement_list</id>
          <name>需求列表</name>
          <url>/Other/requirement.php</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
        <submenu>
          <id>requirement_add</id>
          <name>需求新增</name>
          <url>/Other/requirement.php?action=add</url>
          <onlyadmin>1</onlyadmin>
        </submenu>
      </submenus>
    </mainmenu>
  </mainmenus>
</root>