{{include  file="$smarty_root/header.html" }}
{{include  file="$smarty_root/bar.html" }}

<div role="main" class="ui-content" style="padding:0px;">
    <div class="col-xs-12" style="padding-top:10px;padding-bottom:10px;">
        <div class="col-xs-3" style="margin-top:10px;">
            <div class="row">
                {{if $info.photo==""}}
                <img class="MiddleODdivImg" src="{{$rootpath}}/themes/img/icons/huiyuan.jpg">
                {{else}}
                <img class="MiddleODdivImg" src="{{$uploadpath}}/doctor_photo/{{$info.photo}}">
                {{/if}}
            </div>
            <div class="row xsmall ">
                <div class="col-lg-3"></div>
                <div class="col-lg-6">
                    <a href="#" id="btnLookDoctor" looked="{{$info.looked}}" data-role="button" style="padding:3px;font-size:10px;"> <span class="yellowfont">+</span> 关注</a>
                </div>
                <div class="col-lg-3"></div>

            </div>
        </div>
        <div class="col-xs-6">
            <div class="row h4" style="padding-left:15px;">
                {{$info.name}}
            </div>
            <div class="col-xs-12 grayfont bsmall" style="font-size:90%; padding-left:0px;">
                {{ $info.specialist}}
            </div>
        </div>
        <div class="col-xs-3 text-right" style="padding:0px;">
            <div class="col-xs-12" style="padding:0px;">
                <a href="{{$rootpath}}/doctor/query.php?id={{$info.id}}" data-role="button" style="padding:3px;color:snow; background-color:#E95414;font-size:14px;">立即咨询</a>
            </div>
            <div class="col-xs-12 xsmall yellowfont" style="padding:0px;">
                {{$info.query_count}}人已咨询
            </div>
        </div>
        <div class="col-xs-3"></div>
        <div class="col-xs-9 h6" style="color:#666666; line-height:15px;">
            {{$info.pro_title}}
        </div>
    </div>
    <hr style="margin-bottom:0px;" />
    <div class="col-xs-12">
        <div class="row" style="padding-top:10px;">
            <div class="col-xs-1"><img width="20px" src="{{$rootpath}}/themes/img/icons/vaccine_introduce.png"></div>
            <div class="col-xs-10">简介</div>
        </div>
        <div class="xsmall">
            <p>
                {{$info.summary}}
            </p>
        </div>
    </div>
    <hr style="margin-bottom:0px;" />
    <div class="col-xs-12">
        <div class="row" style="padding-top:10px;">
            <div class="col-xs-1"><img width="20px" src="{{$rootpath}}/themes/img/icons/vaccine_effect.png"></div>
            <div class="col-xs-10">专业资格</div>
        </div>
        <div class="xsmall">
            <p>
                {{$info.post_process}}
            </p>
        </div>
    </div>
    <hr style="margin-bottom:0px;" />
    <div class="col-xs-12">
        <div class="row" style="padding-top:10px;">
            <div class="col-xs-1"><img width="20px" src="{{$rootpath}}/themes/img/icons/vaccine_effect.png"></div>
            <div class="col-xs-10">专家特长</div>
        </div>
        <div class="xsmall">
            <p>
                {{$info.advanced}}
            </p>
        </div>
    </div>
    <hr style="margin-bottom:0px;" />
    <div class="col-xs-12">
        <div class="row" style="padding-top:10px;">
            <div class="col-xs-1"><img width="20px" src="{{$rootpath}}/themes/img/icons/vaccine_effect.png"></div>
            <div class="col-xs-10">语言</div>
        </div>
        <div class="xsmall">
            <p>
            <p>{{$info.use_lang_id}}</p>
            </p>
        </div>
    </div>
    <hr style="margin-bottom:0px;" />
    <div class="col-xs-12">
        <div class="row" style="padding-top:10px;">
            <div class="col-xs-1"><img width="20px" src="{{$rootpath}}/themes/img/icons/vaccine_effect.png"></div>
            <div class="col-xs-10">所属医院</div>
        </div>
        <div class="xsmall">
            <p>
            {{foreach from=$hospital_list item=rs}}
            <h6>{{$rs.name}}</h6>
            <p style="padding-bottom:10px;">地址：{{$rs.address}}</p>
            {{/foreach}}
            </p>
        </div>
    </div>
    <hr style="margin-bottom:0px;" />
    <div class="col-xs-12">
        <div class="row" style="padding-top:10px;">
            <div class="col-xs-1"><img width="20px" src="{{$rootpath}}/themes/img/icons/vaccine_effect.png"></div>
            <div class="col-xs-10">服务地点</div>
        </div>
        <div class="xsmall">
            <p>
            {{foreach from=$office_list item=rs}}
                <h6>{{$rs.name}}</h6>
                <a class="callofficemap" office_id="{{$rs.office_id}}" href="#">
<p style="padding-bottom:10px;">地址：{{$rs.address}}&nbsp;<img style="width:8px;" src="{{$rootpath}}/themes/img/icons/location.png" /></p>            
            </a>
                <span class="bsmall grayfont">{{$rs.addressnav}}</span>
            {{/foreach}}
            </p>
        </div>
    </div>
    <hr style="margin-bottom:0px;" />
    <div class="col-xs-12">
        <div class="row" style="padding-top:10px;">
            <div class="col-xs-1"><img width="20px" src="{{$rootpath}}/themes/img/icons/vaccine_effect.png"></div>
            <div class="col-xs-10">开放时间</div>
        </div>
        <div class="xsmall">
            <p>
            <p>{{$info.open_hour}}</p>
            </p>

        </div>
    </div>
    <div class="col-xs-12">
        <div class="row" style="padding-top:10px;padding-bottom:10px;">
            <div class="col-xs-1"><img width="20px" src="{{$rootpath}}/themes/img/icons/vaccine_effect.png"></div>
            <div class="col-xs-10">诊所服务</div>
        </div>
        <div class="row" style="background-color:#ccc">
            <div class="col-xs-12 bsmall" style=" padding-top:7px; padding-bottom:7px;">
                疫苗选择
            </div>
        </div>        
        {{foreach from=$vaccine_list item=rs}}
        <div class="col-xs-12 xsmall" style="padding:10px;">
                <div class="col-xs-4" style="padding-left:0px;padding-right:10px;margin-top:7px;">{{$rs.name}}</div>
                <div class="col-xs-5 bluefont" style="padding-left:0px;padding-right:0px;margin-top:7px;">收费：HK${{$rs.web_price}}元</div>
                <div class="col-xs-3" style="padding-left:0px;padding-right:0px;">
                    <a href="{{$rootpath}}/order/order.php?action=vaccine&did={{$info.id}}&vid={{$rs.id}}" data-role="button" style="color:snow; background-color:#42A4D3;font-size:10px;padding:3px;">免费预约</a>
                </div>
        </div>        
        <hr style="margin-bottom:0px;" />
        {{/foreach}}
        <div class="row" style="background-color:#ccc">
            <div class="col-xs-12 bsmall" style=" padding-top:7px; padding-bottom:7px;">
                诊断治疗
            </div>
        </div>
        {{foreach from=$service_list item=rs}}
        <div class="col-xs-12 xsmall" style="padding:10px;">
            <div class="col-xs-6 {{if $rs.effect_description!=""}}estips{{/if}}" esid="{{$rs.effect_id}}" style="padding-left:0px;padding-right:0px;">{{$rs.name}}
            {{if $rs.effect_description!=""}}
                <i class="glyphicon glyphicon-exclamation-sign" ></i>
            {{/if}}</div>
            <div class="col-xs-6 text-right bluefont" style="padding-left:0px;padding-right:0px;">参考价：{{$rs.price}}元</div>
            <span id="escontent_{{$rs.effect_id}}" class="hide">{{$rs.effect_description}}</span>
        </div>
        <hr style="margin-bottom:0px;" />
        {{/foreach}}
    </div>
    <script>
        $(document).ready(function () {
            $(".estips").click(function () {
                var esid = $(this).attr("esid");
                var text = $("#escontent_" + esid).text();
                PopupTips(text);
            });
        });
    </script>

    <script src="{{$rootpath}}/plugin/raty/jquery.raty.js"></script>
    <script>
        $.fn.raty.defaults.cancelOff="{{$rootpath}}/plugin/raty/images/cancel-off.png";
        $.fn.raty.defaults.cancelOn="{{$rootpath}}/plugin/raty/images/cancel-on.png";
        $.fn.raty.defaults.starHalf="{{$rootpath}}/plugin/raty/images/star-half.png";
        $.fn.raty.defaults.starOff="{{$rootpath}}/plugin/raty/images/star-off.png";
        $.fn.raty.defaults.starOn="{{$rootpath}}/plugin/raty/images/star-on.png";
    </script>
    <style>
        .divraty img {
            width: 12px;
        }
    </style>
    <hr style="margin-bottom:0px;border-top:20px solid #ccc" />
    <div class="col-xs-12 xsmall" style="padding:10px;">
        <div class="col-xs-3">推荐指数</div>
        <div class="col-xs-5"><div class="divraty" score="{{$info.totle_score}}"></div></div>
        <div class="col-xs-4 text-right">
        {{if $info.cp_totle_score_t=="up"}}
        高于同行{{$info.cp_totle_score}}%            
        {{elseif $info.cp_totle_score_t=="down"}} 
        低于同行{{$info.cp_totle_score}}%
        {{else}}
        和同行一样水准
        {{/if}}</div>
    </div>
    <hr style="margin-bottom:0px;" />
    <div class="col-xs-12 xsmall" style="padding:10px;">
        <div class="col-xs-3">服务水平</div>
        <div class="col-xs-5"><div class="divraty" score="{{$info.service_level}}"></div></div>
        <div class="col-xs-4 text-right">
            {{if $info.cp_service_level_t=="up"}}
            高于同行{{$info.cp_service_level}}%
            {{elseif $info.cp_service_level_t=="down"}}
            低于同行{{$info.cp_service_level}}%
            {{else}}
            和同行一样水准
            {{/if}}
        </div>
    </div>
    <hr style="margin-bottom:0px;" />
    <div class="col-xs-12 xsmall" style="padding:10px;">
        <div class="col-xs-3">专业态度</div>
        <div class="col-xs-5"><div class="divraty" score="{{$info.pro_level}}"></div></div>
        <div class="col-xs-4 text-right">
            {{if $info.cp_pro_level_t=="up"}}
            高于同行{{$info.cp_pro_level}}%
            {{elseif $info.cp_pro_level_t=="down"}}
            低于同行{{$info.cp_pro_level}}%
            {{else}}
            和同行一样水准
            {{/if}}
        </div>
    </div>
    <hr style="margin-bottom:0px;" />
    <div class="col-xs-12 xsmall" style="padding:10px;">
        <div class="col-xs-3">设备环境</div>
        <div class="col-xs-5"><div class="divraty" score="{{$info.facility_level}}"></div></div>
        <div class="col-xs-4 text-right">
            {{if $info.cp_facility_level_t=="up"}}
            高于同行{{$info.cp_facility_level}}%
            {{elseif $info.cp_facility_level_t=="down"}}
            低于同行{{$info.cp_facility_level}}%
            {{else}}
            和同行一样水准
            {{/if}}
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.divraty').each(function () {
                var score = $(this).attr("score");
                $(this).raty({
                    readOnly: true,
                    score: score
                });
            });
        });
    </script>
</div>
{{include  file="$smarty_root/doctor/doctor_common.html" }}
{{include  file="$smarty_root/navbar.html" }}
{{include  file="$smarty_root/footer.html" }}
