<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
        body, html, #allmap {
            width: 100%;
            height: 100%;
            overflow: hidden;
            margin: 0;
        }

        #golist {
            display: none;
        }

        @media (max-device-width: 780px) {
            #golist {
                display: block !important;
            }
        }
    </style>
    <script type="text/javascript" src="http://api.map.baidu.com/api?type=quick&ak={{$ak}}&v=1.0"></script>
    <title>{{$info.name}}</title>
</head>
<body>
    <div id="allmap"></div>
</body>
</html>
<script type="text/javascript">
    // 百度地图API功能
    var map = new BMap.Map("allmap");
    map.centerAndZoom(new BMap.Point({{$info.x}},{{$info.y}}), 15);
    map.addControl(new BMap.ZoomControl());  //添加地图缩放控件
    map.addControl(new BMap.ScaleControl());
  
    // 创建标注对象并添加到地图     
    //var myIcon = new BMap.Icon("http://developer.baidu.com/map/jsdemo/img/fox.gif", new BMap.Size(300,157));,{icon:myIcon}

    var marker1 = new BMap.Marker(new BMap.Point({{$info.x}},{{$info.y}}));
    map.addOverlay(marker1);

    var infoWindow1 = new BMap.InfoWindow("<center><h4>{{$info.address}}</h4><button onclick='showhotel();'>显示附近酒店</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button onclick='startguide();'>开始导航</button></center>");
    marker1.addEventListener("click", function () { this.openInfoWindow(infoWindow1); });

    marker1.openInfoWindow(infoWindow1);

    function showhotel() {
        var local = new BMap.LocalSearch(map, {
            renderOptions: { map: map, autoViewport: true }
        });
        local.searchNearby("酒店", "{{$info.block}}");
    }

    function startguide() {

        /*start|end：（必选）
		{name:string,latlng:Lnglat}
		opts:
		mode：导航模式，固定为
		BMAP_MODE_TRANSIT、BMAP_MODE_DRIVING、
		BMAP_MODE_WALKING、BMAP_MODE_NAVIGATION
		分别表示公交、驾车、步行和导航，（必选）
		region：城市名或县名  当给定region时，认为起点和终点都在同一城市，除非单独给定起点或终点的城市
		origin_region/destination_region：同上
		*/
        var start = {
            name: "口岸"
        }
        var end = {
            name: "{{$info.address}}"
        }
        var opts = {
            mode: BMAP_MODE_TRANSIT,
            region: "香港"
        }
        var ss = new BMap.RouteSearch();
        ss.routeCall(start, end, opts);

    }

    //http://developer.baidu.com/map/jsdemo-mobile.htm#i4_1
</script>
