{{include  file="$smarty_root/header.html" }}

                <!-- content -->
                <div class="col-md-10">


                    <div class="row">
                        <div class="col-lg-12">
                            <div class="page-header bootstrap-admin-content-title">
                                <h1>{{$ModelData.name}} - 列表</h1>                                
                                {{foreach from=$ModelData.options.option item=rs}}                                
                                    {{if $rs.search=="1"}}
                                        {{if $rs.type=="link"}}    
                                    <a href="{{$rs.link}}" class="action">
                                        <button class="btn btn-success">{{$rs.name}}</button>
                                    </a>
                                        {{elseif $rs.type=="function"}}
                                    <a href="javascript:{{$rs.function}}" class="action">
                                        <button class="btn btn-success">{{$rs.name}}</button>
                                    </a>
                                        {{/if}}                                 
                                    {{/if}} 
                                {{/foreach}}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="text-muted bootstrap-admin-box-title">搜索条件</div>
                                </div>
                                <div class="bootstrap-admin-panel-content">
                                    <div class="row form-horizontal">
                                        {{foreach from=$ModelData.fields.field item=rs}}
                                        {{if $rs.search=="1"}}
                                        <div class="form-group col-md-6">
                                            <label class="col-md-4 control-label" >{{$rs.name}}</label>
                                            {{if $rs.type=="text" || $rs.type=="longtext" || $rs.type=="html"}}
                                            <div class="col-md-8">
                                                <input type="text" class="form-control" id="condition_{{$rs.key}}">
                                            </div>
                                            {{elseif $rs.type=="datetime"}}
                                            <div class="col-md-8">
                                                <div class="col-md-5" style="padding:0"><input type="text" class="form-control datepicker" id="condition_{{$rs.key}}_from"></div>
                                                <div class="col-md-2" style="padding:3px;text-align:center">-</div>
                                                <div class="col-md-5" style="padding:0"><input type="text" class="form-control datepicker" id="condition_{{$rs.key}}_to"></div>
                                            </div>                                                     
                                            {{elseif $rs.type=="fkey"}}
                                            <div class="col-md-8">
                                                <select id="condition_{{$rs.key}}" class="form-control selectize-select">
                                                    <option value="0">--Select--</option>
                                                    {{foreach from=$rs.options item=rsoption}}
                                                    <option value="{{$rsoption.id}}">{{$rsoption.name}}</option>
                                                    {{/foreach}}
                                                </select>
                                            </div>                                       
                                            {{elseif $rs.type=="select" }}
                                            <div class="col-md-8">
                                                <select id="condition_{{$rs.key}}" class="form-control selectize-select">
                                                    <option value="no-value">--Select--</option>
                                                    {{foreach from=$rs.options.option item=rsoption}}
                                                    <option value="{{$rsoption.value}}">{{$rsoption.name}}</option>
                                                    {{/foreach}}
                                                </select>
                                            </div>
                                            {{/if}}
                                        </div>
                                        {{/if}}
                                        {{/foreach}}
                                    </div>
                                    <hr />
                                    <div class="text-right">
                                        <button class="btn btn-info" id="btnSearch"><i class="glyphicon glyphicon-refresh glyphicon-white"></i> 搜索</button>
                                    </div>
                               </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="text-muted bootstrap-admin-box-title">搜索结果</div>
                                </div>
                                <div class="bootstrap-admin-panel-content">
                                    <table class="datatable table table-striped table-bordered" id="searchResult">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                {{foreach from=$ModelData.fields.field item=rs}}
                                                    {{if $rs.displayinlist=="1"}}
                                                    <th>{{$rs.name}}</th>
                                                    {{/if}}
                                                {{/foreach}}
                                            </tr>
                                        </thead>
                                        <tbody>
                                           
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>




                </div>


<script>
    $(function () {

        $("#btnSearch").click(function () {
            var json={
                "action":"search"
                {{foreach from=$ModelData.fields.field item=rs}}
                    {{if $rs.search=="1"}}
                        {{if $rs.type=="datetime" }}
                        ,"{{$rs.key}}_from":$("#condition_{{$rs.key}}_from").val()
                        ,"{{$rs.key}}_to":$("#condition_{{$rs.key}}_to").val()
                        {{else}}
                        ,"{{$rs.key}}":$("#condition_{{$rs.key}}").val()
                        {{/if}}
                    {{/if}}
                {{/foreach}}
            };

        $("#searchResult").load("{{$PageName}}",json,function(data){
            $('#searchResult').dataTable({"bRetrieve": true,
                    "sDom": "<'row'<'col-md-6'l><'col-md-6'f>r>t<'row'<'col-md-6'i><'col-md-6'p>>",
                    "sPaginationType": "bootstrap",
                    "oLanguage": {
                        "sLengthMenu": "_MENU_ records per page"
                    }
                });
            });

        });
    });
    function addNew(){
        self.location='{{$PageName}}?action=add';
    }

    function btnDeleteInList(){
        var idlist="0";
        $("#searchResult input:checkbox:checked.RowSelect").each(function(){
            idlist+=","+$(this).val();
        });
        if(idlist!="0"){
            confirmDialog("系统消息","确认要删除吗?",function(){
                var idlist="0";
                $("#searchResult input:checkbox:checked.RowSelect").each(function(){
                    idlist+=","+$(this).val();
                });
                if(idlist!="0"){
                    $.post("{{$PageName}}",{"action":"delete","idlist":idlist},function(data){
                        if(data=="success")
                        {
                            //infoDialog("删除成功");
                            $("#btnSearch").click();
                        }
                        else
                        {
                            //errorDialog("删除失败");
                        }
			
                    });
                }
            });
        }
    }

     

    function testDialog(){

        infoDialog("aa");
    }

</script>

 {{include  file="$smarty_root/footer.html" }}