.right{border-bottom:4px solid #6495ED;margin:10px;clear:right;}

.jquploader{
background:#333333;
}
form{
border:0px solid #DDD;
padding:20px;
background:#FFF;
}
.highlight{
	background:#FFDDFE;
	border:1px dotted #FF00FF;
	padding:1em;
	margin:1em;
}